{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

{#    {{include ('composant/flashMessage.html.twig') }}#}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="formulaire">
    {{form(formulaire)}}
</div>

{% endblock %}
