{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
    <div class="container m-5">
        <div class="row"><img src="https://picsum.photos/2002/300" class="img-fluid" alt=""></div>
    </div>

    <div class="row">
        <div class="col " ><img height="300" src="{{ asset('imagesSaj/coupeFeuCoulissante.jpg') }}" alt=""> </div>
        <div class="col"><img src="https://picsum.photos/300/300" alt="photo"></div>
        <div class="col"><img src="https://picsum.photos/300/300" alt="photo"></div>
        <div class="col"><img src="https://picsum.photos/300/300" alt="photo"></div>
    </div>

{% endblock %}
